.stock-title {
  color: #00c4a7;
  font-size: 2.5em;
}

.stock-title:hover {
  color: white;
}

.project-description {
  width: 80%;
  margin: auto;
}

.project-description img {
  float: left;
  padding: 10px 20px;
}

.stock-details span {
  font-size: 18px;
}

.stock-details-p {
  font-size: 18px;
}
