.stock-title {
	color: #00c4a7;
	font-size: 2.5em;
}

.stock-title:hover {
	color: white;
}

.stock-details img {
	width: 10vw;
	height: 30vh;
	display: block;
	margin: 0 auto;
}

.stock-details span {
	font-size: 18px;
}

.stock-details-p {
	font-size: 18px;
}
